<div class="justify-content-between row col-md-10 mt-4 bg-dark ml-5 text-center d-flex">
  <div class="text-center ml-5">
    <h3 class="display4 text-primary">About US</h3>
    <p class="text-primary text-justify mt-3">
      This is an online test application.<br />
      The Online Test Application system creates an application that enables
      <br />
      to provide online tests, review them, and display the results.
    </p>
    <p class="text-primary text-justify">
      The application renders the test at the client-side. <br>
      The “Review and display result” section allows users<br>
       to declare the results immediately.
    </p>
  </div>
</div>
