<div class="container-lg bg-success d-flex" id="bg">
    <div class="col-md-10" id="wel">
    <h3 class="display-4 text-warning">Wel-come to online Test app</h3>
    <p class="mx-sm-2 my-sm-1 text-dark">
        <i class="fa-solid fa-chevron-right">Upgrade yourself by solving different quizes daily.<br></i>
        <i class="fa-solid fa-chevron-right">This Test contains only 5 questions.</i><br>
        Give test just by entering your name in following text box.</p><br>
        <h3>All the Best!!!</h3>
        <div class="text-dark">
        <label for="name"> Enter your name</label>
        <input #name type="text" name="name" class="form-control"/><br><br>
        <button type="button" class="btn btn-primary" routerLink="/question" (click)="startQuize()">Go for Test!!</button><br><br>
    </div>
</div>
</div>